body{
    margin: 0;
}

.playerWrapper {
    position: relative; 
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}
.player {
    width: 80% !important;
    height: 100% !important;
    margin-left: 10%;
}

.player iframe {
    position: absolute;
    width: 150% !important;
    height: 230% !important;
    top: -70%;
    left: -25%;
}

@media screen and (max-width: 768px) {
    .player iframe {
        width: 150% !important;
        height: 150% !important;
        top: -25%;
    }
}

@media screen and (max-width: 425px) {
    .player iframe {
        width: 300% !important;
        left: -100%;
    }
}