#faq-background{
    background-image: url('http://localhost:3000/images/14007.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accordion a {
    text-decoration: none;
    color: #4C51BD;
}

@media (max-width: 1024px) {
    div#accordionWrapper {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }
}

@media (max-width: 500px) {
    div.accordion {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
}

@media (max-width: 320px) {
    div.accordion {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }
}