#faq-background{
    background-image: url('http://localhost:3000/images/SL_043021_42650_02.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accordion-body{
    background-color: rgb(180, 205, 255);
}